---
- hosts: prox-server
  gather_facts: false
  roles:
    - role: start_prox_server

- hosts: prox
  gather_facts: false   # some hosts might not be started until after this
  roles:
    - role: start_prox

- hosts: "prox,pi"
  become: true
  roles:
    - role: mount_omv
    - role: backup

- hosts: all
  become: true
  roles:
    - update

- hosts: prox-server    # reboot prox host, proxmox handles restarting VMs/CTs
  become: true
  roles:
    - reboot

# TODO:
      # backup
      # update
