- name: install nvim x86
  unarchive:
    src: "https://github.com/neovim/neovim/releases/download/v0.11.4/nvim-linux-x86_64.tar.gz"
    dest: "/opt"
    remote_src: yes
    mode: "755"
    owner: root
    group: root
    creates: "/opt/nvim-linux-x86_64/bin/nvim"
  when: arch is not defined or arch != "arm"

- name: install nvim arm
  unarchive:
    src: "https://github.com/neovim/neovim/releases/download/v0.11.4/nvim-linux-arm64.tar.gz"
    dest: "/opt"
    remote_src: yes
    mode: "755"
    owner: root
    group: root
    creates: "/opt/nvim-linux-arm64/bin/nvim"
  when: arch is defined and arch == "arm"

- name: symlink nvim
  file:
    src: >-
        {{
          "/opt/nvim-linux-arm64/bin/nvim" 
            if arch is defined and arch == "arm" else
          "/opt/nvim-linux-x86_64/bin/nvim"
        }}
    dest: "/usr/local/bin/nvim"
    state: link
